/* 
    Project: SCM Pars
    Developer: Ali Jazbi
    Description: This website template is designed for SCM Pars Law Office to help them have a professional and informative website that showcases their company and its services. The template includes a minimal design and user-friendly interface that makes it easy to navigate and use.
    color pallet:
    #0B4577
    #094476
    #939393
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* change scroll style */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #e4e4e4;
}
::-webkit-scrollbar-thumb {
    background: #11538deb;
}
::-webkit-scrollbar-thumb:hover {
    background: #094476;
}
/* add new font */
@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.ttf');
}
/* Global Css */
body{
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height: 100vh;
}
a{
    text-decoration: none;
    color: #333;
}
section{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}
.color-primary{
    color: #094476;
}
.color-secondary{
    color: #939393;
}
.color-blue{
    color: #0B4577;
}
.fs-1-rem{
    font-size: 1rem;
}
.fs-2-rem{
    font-size: 2rem;
}
.fs-3-rem{
    font-size: 3rem;
}
.ms-2px{
    margin-inline: 2px;
}
.ms-4-1{
    margin-inline: 41px;
}
.mt-10{
    margin-top: 10%;
}
.mt-20{
    margin-top: 20%;
}
.mt-30{
    margin-top: 30%;
}
.h-80{
    height: 80%;
}
.h-85{
    height: 85%;
}
.h-90{
    height: 90%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-max{
    width: max-content;
}

/* divider */
.divider
{
	position: relative;
    margin-top: -30px;
	height: 1px;
}
.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #0B4577, transparent);
}
/* divider end */

/* Custom Class */

/* banner start */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../imgaes/banner.jpg);
    background-size: cover;
    background-position: center;
    padding:5vh 10vh;
    scroll-snap-align: start;
}
.banner img{
    width: 550px;
    height: 200px;
}
.banner .cssbuttons-io-button {
    background: #1963a4;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-right: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -0.6em 1.6em 0 #0B4577;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-left: 3.3em;
    cursor: pointer;
}
.banner .cssbuttons-io-button .icon {
    background: white;
    margin-right: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 2em;
    box-shadow: 0.1em 0.2em 0.6em 0.1em #0B4577;
    left: 0.3em;
    transition: all 0.3s;
}
.banner .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.banner .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #0B4577;
}
.banner .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.banner .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
/* banner END */

/* content-table start */
#content-table{
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, #0b3e6bd5, #0d416eea, #083358);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
#content-table .curved{
    position: relative;
    background: #ffffff;
    height: 35%;
    border-bottom-right-radius: 40% 25%;
    border-bottom-left-radius: 40% 25%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
#content-table .curved h1 {
    width: 63%;
    text-align: center;
    font-size:30px;
    font-weight:300;
    color:#083358;
    letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}
#content-table .curved h1:after,#content-table .curved h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #09437688;
    border-top: 2px solid #09437688;
    height: 7px;
}
#content-table .content-links{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
#content-table .content-links .content-a {
    width: 400px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #ffffffc5;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.4em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 16px;
    border-radius: 10px;
}
#content-table .content-links .content-a::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(255, 255, 255);
    top: 50%;
    right: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
#content-table .content-links .content-a .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-right: 2em;
    display: block;
    text-align: right;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
}
#content-table .content-links .content-a .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    right: 0.625rem;
    position: absolute;
    background: #094476;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
#content-table .content-links .content-a .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    left: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #094476;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
#content-table .content-links .content-a .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    left: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #094476;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
#content-table .content-links .content-a:hover {
    color: white;
    background: #094476;
    border-radius: 0;
    border-color: #fff;
}
#content-table .content-links .content-a:hover::before {
    width: 0.9375rem;
    background: #094476;
}
#content-table .content-links .content-a:hover .text {
    color: white;
    padding-right: 1.5em;
}
#content-table .content-links .content-a:hover .top-key {
    right: -2px;
    width: 0px;
}
#content-table .content-links .content-a:hover .bottom-key-1,
#content-table .content-links .content-a:hover .bottom-key-2 {
    left: 0;
    width: 0;
}
/* content-table END */

/* Intellectual Property Start */
#intellectual-property img{
    filter: drop-shadow(20px 10px 10px #dadada83);
}
#intellectual-property h1{
    font-size: 3em;
    background-image: linear-gradient(#094476, #0B4577, #094476);
    background-size: 100% 7px;
    line-height: 80px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out , color .5s ease-in-out;
}
#intellectual-property h1:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    color: white;
}
/* Intellectual Property END */

/* Copyright start */
#copyright{
    direction: rtl;
    overflow-x: hidden;
}
#copyright .big-box{
    width: 80%;
    height: 100vh;
    position: relative;
    border-top-left-radius: 10%;
    background: linear-gradient(270deg, #0b3e6bd5, #0d416eea, #083358);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
#copyright .big-box .box-row{
    width: 120%;
    height: 12%;
    margin-top: 80px;
    position: absolute;
    background-color: #939393;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#copyright .big-box img{
    position: absolute;
    width: 50%;
    top: 35%;
    left: 30%;
    filter: grayscale(90%);
    opacity: .7;
}
#copyright .big-box .circle-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-color: #939393 !important;
}
#copyright .big-box .circle-logo:nth-child(2){
    top: 65%;
}
#copyright p{
    margin-top: 39vh;
    font-size: 30px;
}
#copyright p:nth-child(2){
    margin-top: 24vh;
}
/* Copyright END */

/* Patent and international-conventions Start */
#patent , #patent-2 , #international-conventions{
    display: flex;
    justify-content: center;
    position: relative;
}
#patent i , #patent-2 i , #international-conventions i{
    font-size: 40px;
}
#patent .patent-footer , #patent-2 .patent-footer{
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: -1px;
}
#patent-2 .patent-header , #international-conventions .conventions-header{
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -1px;
}
#patent-2 .container{
    margin-top: 200px;
}
/* Patent and international-conventions END */

