/* 
    Project: SCM Pars
    Developer: Ali Jazbi
    Description: This website template is designed for SCM Pars Law Office to help them have a professional and informative website that showcases their company and its services. The template includes a minimal design and user-friendly interface that makes it easy to navigate and use.
    color pallet:
    #0B4577
    #094476
    #939393
*/

/* Global Css */
body{
    height: 3000px;
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    color: #333;
}
.color-primary{
    color: #094476;
}
.color-secondary{
    color: #939393;
}
.color-blue{
    color: #0B4577;
}
.fs-3-rem{
    font-size: 3rem;
}
/* add new font */
@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.ttf');
}
/* Custom Class */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../imgaes/banner.jpg);
    background-size: cover;
    background-position: center;
    padding:5vh 10vh;
}
.banner img{
    width: 550px;
    height: 200px;
}
.banner .cssbuttons-io-button {
    background: #1963a4;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-right: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -0.6em 1.6em 0 #0B4577;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-left: 3.3em;
    cursor: pointer;
}

.banner .cssbuttons-io-button .icon {
    background: white;
    margin-right: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 2em;
    box-shadow: 0.1em 0.2em 0.6em 0.1em #0B4577;
    left: 0.3em;
    transition: all 0.3s;
}

.banner .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.banner .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #0B4577;
}

.banner .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.banner .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

